.send-personal {
    display: flex;
    flex-direction: column;
    gap: 20px;
    &__inputs{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
        "input1 textarea"
        "input2 textarea";
        row-gap: 10px;
        column-gap: 10px;
        font-family: 'Onest';
        font-size: 16px;
        font-weight: 500;
        color: #CACACA;
    }
    input {
        font-size: 20px;
        background-color: #232323;
        border: 2px solid #2E2E2E;
        padding-block: 30px;
        border-radius: 55px;
        color: #CACACA;
        &:focus{
            outline: none;
            border-color: #CACACA;
        }
        &--upper{
            grid-area: input1
        }
        &--lower{
            grid-area: input2
        }
    }
    input::placeholder{
        color: #515151;
    }

    &__error {
        color: #FC8181;
    }

    textarea {
        font-size: 20px ; 
        background-color: #232323;
        border-radius: 24px;
        border: 2px solid #2E2E2E;
        color: #CACACA ;
        border-radius: 35px ;
        height: 100%;
        grid-area: textarea;
        &:focus{
            outline: none;
            border-color: #CACACA;
        }
    }
    textarea::placeholder{
        color:#515151;
    }
    &__submit{
        display: flex;
        gap: 10px;
        align-items: center;
    }
    &__agreement{
        width: 50%;
        color:#CACACA;
    }
}
@media screen and (max-width: 600px) and (min-width: 300px) {
    .send-personal{
        &__inputs{
            display: flex;
            flex-direction: column;
        }
        textarea{
            min-height: 120px;
        }
        &__submit{
            flex-direction: column;
        }
        &__agreement{
            width: 100%;
            font-size: 12px;
            font-weight: 400;
        }
    }
}