.footer{
    width: 100%;
    height: 142px;
    border-top: 2px solid #2E2E2E;
    display: flex;
    justify-content: center;
    &__center{
        width: 1200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .social__media{
            width: 273px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            p{
                color: #CACACA;
                font-family: 'Onest';
                font-weight: 500;
                font-size: 20px;
            }
        }
        .social__img{
            width: 40px;
            height: 40px;
            background-image: url('./img/Property\ 1=Default.svg');
            transition: 0.5s;
        }
        .social__img:hover{
            background-image: url('./img/Property\ 1=Variant2.svg');
            transition: 0.5s;
        }
    }
    &__logo{
        display: flex;
        align-items: flex-end;
        height: 74px;
        gap: 10px;
        img{
            width: 82px;
            height: 74px;
        }
        p{
            font-size: 12px;
            font-family: 'Onest';
            font-weight: 300;
            width: 225px;
            color: #CACACA;
        }
    }
    &__links{
        color: #CACACA;
        font-size: 20px;
        font-family: 'Onest';
        font-weight: 600;
        width: 438px;
        display: flex;
        justify-content: space-between;
        a:hover{
            text-shadow:
                0 0 5px #4A00E080,
                0 0 10px #8E2DE280,
                0 0 20px #4A00E080,
                0 0 20px #8E2DE280,
                0 0 20px #4A00E080,
                0 0 20px #8E2DE280,
                0 0 20px #4A00E080,
                0 0 30px #8E2DE280,
                0 0 30px #4A00E080,
                0 0 30px #8E2DE280,
                0 0 30px #4A00E080,
                0 0 30px #8E2DE280,
                0 0 40px #4A00E080,
                0 0 40px #8E2DE280,
                0 0 40px #4A00E080,
                0 0 40px #8E2DE280,
                ;
            transition: 0.5s;
        }
    }

}