.header{
    width: 100%;
    height: 82px;
    background-color: #0F0F0F;
    
    
}
.header_fixed{
    position: fixed;
    width: 100%;
    border-bottom: 2px solid #2E2E2E;
    background-color: #0F0F0F;
    z-index: 19;
    display: flex;
    justify-content: center;
}
.head{
    width: 1280px;
    height: 82px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__links{
        width: 560px;
        height: 60px;
        display: flex;
        padding: 0 20px;
        background-color: #232323;
        border: 2px solid #2E2E2E;
        border-radius: 55px;
    
        color:#B6B6B6;
        justify-content: space-around;
        align-items: center;
        a{
            font-family: 'Onest';
            font-weight: 500;
            font-size: 20px;
            transition: 0.5s;
        }
        a:hover{
            text-shadow:
                0 0 5px #4A00E080,
                0 0 10px #8E2DE280,
                0 0 20px #4A00E080,
                0 0 20px #8E2DE280,
                0 0 20px #4A00E080,
                0 0 20px #8E2DE280,
                0 0 20px #4A00E080,
                0 0 30px #8E2DE280,
                0 0 30px #4A00E080,
                0 0 30px #8E2DE280,
                0 0 30px #4A00E080,
                0 0 30px #8E2DE280,
                0 0 40px #4A00E080,
                0 0 40px #8E2DE280,
                0 0 40px #4A00E080,
                0 0 40px #8E2DE280,
                ;
            transition: 0.5s;
        }
        p{
            color: #2E2E2E;
            font-size: 20px;
        }
        &-line{
            width: 2px;
            height: 36px;
            background-color: #2E2E2E;
        }
    }
    &__button{
        height: 60px;
        width: 242px;
        border: 2px solid #2E2E2E;
        color: #E6E6E6;
        font-size: 20px;
        font-weight: 500;
        font-family: 'Onest';
        border-radius: 55px;
        background-size: 300% 100%;
        transition: all .4s ease-in-out;
        background-image: linear-gradient(to right, #232323,#232323, #8E2DE2, #4A00E0);

    }
    &__button:hover{
        background-position: 100% 0;
        transition: all .8s ease-in-out; 
        
    }
}
.logo{
    background-color: #232323;
    border: 2px solid #2E2E2E;
    border-radius: 55px;
    height: 60px;
    width: 94px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hamburger{
    img{
        right: 20px;
        width: 40px;
        height: 40px; 
        position: fixed;
    }
    display: flex;
    justify-content: center;
    align-items: center;
}
.mob{
    &__links{
        position: fixed;
        bottom: 0;
        right: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 50px;
        width: 100%;
        height: 100vh;
        background-color: #0F0F0F;
        color: white;
        padding: 20% 0;

    }
    &__nav{
        display: flex;
        flex-direction: column;
        text-align: right;
        width: 90%;
        a{
            color:#E6E6E6;
            font-size: 28px;
            font-family: 'Unbounded';
            font-weight: 700;
        }
    }
    &__nav-buttons{
        display: flex;
        flex-direction: column;
        width: 80%;
        align-items: center;
        text-align: center;
        gap: 10px;
        p{
            font-size: 20px;
            font-family: 'Onest';
            font-weight: 500;
            color: #E6E6E6;
        }
        .head__button{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10%;
        }
    }
    &__social-media{
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        text-align: center;
        align-items: center;
        p{
            font-size: 20px;
            font-family: 'Onest';
            font-weight: 500;
            color: #E6E6E6;
        }
        .head__button{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10%;
        }
    }
}

@media screen and (max-width: 600px) and (min-width: 300px) {
    .head{
        width: 90%;
        z-index: 99;
    }
    .logo{
        background: none;
        border: none;
    }
}