.ready-personal {
    display: flex;
    flex-direction: column;
    gap: 20px;
    &__heading{
        font-family: "Unbounded";
        font-size: 64px;
        color: #E6E6E6;
    }
    &__txt{
        font-family: "Onest";
        font-weight: 300;
        font-size: 30px;
        color: #E6E6E6 !important;
    }
}
@media screen and (max-width: 600px) and (min-width: 300px) {
    .ready-personal{
        &__heading {
            font-size: 25px !important;
        }
        &__txt{
            font-family: "Onest";
            font-weight: 300;
            font-size: 16px;
            color: #E6E6E6 !important;
        }
    }
}