.button__base{
    color: #F9F9F9;
    border-radius: 55px;
    font-size: 32px;
    font-weight: 400;
    font-family: 'Unbounded';
    padding: 10px 20px;
    background-size: 300% 100%;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #232323,#232323, #8E2DE2, #4A00E0);
}

.button__base:hover{
    background-position: 100% 0;
    transition: all .8s ease-in-out; 
    
}