.first{

    width: 100%;
    height: 798px;
    display: flex;
    justify-content: center;
    background-color: #0F0F0F; //замена на фото наверн

    &__center{
        width: 1280px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: relative;
        z-index: 0;
        h1{
            
            font-size: 105px;
            font-family: 'Unbounded';
            font-weight: 700;
            color: #E6E6E6;
            line-height: 111.3px;
        }
        h2{
            font-size: 36px;
            font-weight: 400;
            font-family: 'Unbounded';
            color: #E6E6E6;
        }
        &-down{
            display: flex;
            flex-direction: column;
            gap: 60px;
        }
    }
    &__image{
        position: absolute;

        z-index: -1;
        &--left{
            top: 0px;
            left: 0px;
        }
        &--right{        
            right: 0px;
            bottom: 0px;
        }
    }

}
@media screen and (max-width: 600px) and (min-width: 300px) {
    .first{
        height: 100%;
        padding: 60px 0;
        &__center{
            width: 90%;
            gap: 135px;
            display: flex;
            &-down{
                align-items: center;
            }
            h1{
                font-size: 40px;
                line-height: 42.4px;
                text-align: center;
            }
            h2{
                font-size: 24px;
                line-height: 25.44px;
                text-align: center;
                width: 75%;
                align-self: center;
                color: #CACACA;
            }
        }
    }
    .first__image--left{
        top: 0px;
        left: 0px;
    }
    .first__image--right{
        right: 0px;
        top: 0px;   
    }
    .modal_btn{
        display: flex;
        justify-content: center;
        width: 90%;
        align-items: center;
    }
}