.first{

    width: 100%;
    height: 798px;
    display: flex;
    justify-content: center;
    background-color: #0F0F0F; //замена на фото наверн

    &__center{
        width: 1280px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: relative;
        z-index: 0;
        h1{
            font-size: 105px;
            font-family: 'Unbounded';
            font-weight: 700;
            color: #E6E6E6;
        }
        h2{
            font-size: 36px;
            font-weight: 400;
            font-family: 'Unbounded';
            color: #E6E6E6;
        }
        &-down{
            display: flex;
            flex-direction: column;
            gap: 60px;
        }
    }
    &__image{
        position: absolute;

        z-index: -1;
        &--left{
            top: -80px;
            left: -80px;
        }
        &--right{        
            right: -100px;
            top: -100px;
        }
    }

}