.services{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    &__center{
        width: 1280px;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 50px;
        &__blocks{
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 40px;
        }
        &__h{
            font-size: 64px;
            font-family: 'Unbounded';
            font-weight: 700;
            color: #E6E6E6;
        }
        &__block{
            background-color: #121212;
            width: 100%;
            border: 2px solid #1B1B1B;
            border-radius: 55px;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            padding: 20px 0;
            &__accordion{
                width: 1200px;
                padding:0 !important;
            }
            &__second{
                width: 1200px;
                background-color: #232323;
                border: 2px solid #2E2E2E;
                border-radius: 27.5px;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 10px 0;
                gap: 10px;
                &__accordion{
                    width: 1152px;
                    background-color: #4D4D4D;
                    border: 2px solid #7A7A7A;
                    border-radius: 27.5px;
                    color: #FFFFFF;
                    padding: 0;
                    .accordion__title{
                        font-size: 24px;
                        font-weight: 500;
                        font-family: 'Unbounded';
                        display: flex;
                        justify-content: space-between;
                    }
                    .accordion__description{
                        font-size: 20px;
                        font-weight: 500;
                        font-family: 'Onest';
                    }
                }
            }
            &__first{
                &__accordion{
                    width: 1200px;
                    height: 53px;
                    background-color: #232323;
                    border: 2px solid #4D4D4D;
                    border-radius: 27.5px;
                    color:#E6E6E6;
                    font-size: 20px;
                    font-weight: 500;
                    font-family: 'Unbounded';
                    display: flex;
                    justify-content: center;
                    gap: 20px;

                    &::after {  
                        transition: .5s;
                        content: '';
                        background: no-repeat center/80% url("./cross.svg");
                        width: 20px;
                        height: 20px;
                    }
                }
            }
            &__h{
                width: 1200px;
               h2{
                font-size: 36px;
                font-family: 'Unbounded';
                font-weight: 900;
                color: #E6E6E6;
               }
               p{
                font-size: 24px;
                font-weight: 500;
                font-family: 'Onest';
                color: #CACACA;
               }
            }
        }
    }
}
.accordion{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.note{
    width: 1152px;
    h3{
        font-family: 'Unbounded';
        font-weight: 500;
        font-size: 24px;
        color: #FFFFFF;
    }
    p{
        color: #D0D0D0;
        font-size: 20px;
        font-family: 'Onest';
        font-weight: 500;
    }
}
.opened{
    &::after{
        transform: rotate(0.12turn);
    }
}
.chakra-accordion{
    border-style: none !important;
    width: 1200px;
}
.chakra-accordion__item{
    border-top-width: 0px !important;
    border-bottom-width: 0px !important;
}
.chakra-accordion__panel{
    border-style: none !important;
}
.chakra-collapse{
    border-style: none !important;
}
@media screen and (max-width: 600px) and (min-width: 300px) {
    .services{
        &__center{
            width: 90%;
            &__h{
                font-size: 28px;
            }
            &__block{
                &__accordion{
                    width: 100%;
                }
                &__second{
                    width: 100% !important;
                    &__accordion{
                        width: 90%;
                        .accordion__title{
                            font-size: 20px;
                            font-weight: 500;
                            font-family: 'Unbounded';
                            display: flex;
                            justify-content: space-between;
                        }
                        .accordion__description{
                            font-size: 13px;
                            font-weight: 500;
                            font-family: 'Onest';
                        }
                    }
                }
                &__first{
                    &__accordion{
                        width: 90%;
                    }
                }
                &__h{
                    width: 90%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    h2{
                        font-size: 24px;
                        text-align: center;
                    }
                    p{
                        font-size: 16px;
                        text-align: center;
                    }
                }
            }
        }
    }
    .chakra-accordion{
        width: 90%;
    }
    .note{
        width: 90%;
        h3{
            font-size: 20px;
        }
        p{
            font-size: 12px;
        }
    }
}