
.modal {
    min-width:30%;
    &__header {
        font-family: "Unbounded";
        color: #E6E6E6;
    }

    &__text {
        font-family: "Onest";
        font-weight: 300;
        font-size: 20px;
        color: #E6E6E6;
    }

    &__agreement {
        color: #E6E6E6;
        font-size: 14px;
        font-family: "Onest";
        font-weight: 400;
    }
}
