
.modal {
    min-width: 50%;
    z-index: 9999999999;
    &__header {
        
        font-family: "Unbounded";
        color: #E6E6E6;
    }

    &__text {
        font-family: "Onest";
        font-weight: 300;
        font-size: 20px;
        color: #E6E6E6;
    }

    &__agreement {
        color: #E6E6E6;
        font-size: 14px;
        font-family: "Onest";
        font-weight: 400;
    }
}

@media screen and (max-width: 600px) and (min-width: 300px) {
    .modal{
        width: 100%;
        padding: 50px 0 !important;
        &__header{
            width: 100%;
            font-size: 24px !important;
            font-weight: 900;
            display: flex;
            justify-content: center;
        }
        &__text{
            font-size: 14px ;
            
        }
    }
}